/**
 *  Define scss variables here.
 *
 *  Available options for Bootstrap:
 *  http://getbootstrap.com/customize/
 *
 */

// Bootstrap Variables
$brand-primary: #333e48;
$brand-success: #5cb85c;
$brand-warning: #ffa400;
$brand-danger: #e2231a;
$brand-info: #5bc0de;

$font-size-base: 15px;
$font-family-sans-serif: Roboto, sans-serif;
$headings-font-family: 'Roboto Condensed', sans-serif;

$navbar-height: 66px;
