$bg-lightgrey: rgb(224, 225, 227);
$bg-darkgrey: rgb(45, 53, 60);
$bg-orange: rgb(245, 156, 26);

$fg-darkgrey: rgb(51, 51, 51);

$nav-bg-darkgrey: rgb(35, 42, 47);
$nav-fg-lightgrey: rgb(168, 172, 177);
